html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;

    vertical-align: baseline;
}

html {
    height: 100%;
}
body{
    background: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 14px;
    line-height: 1;
    font-family:'MyriadProRegular';

}

img{ border-style: none; }
.wrapper{
    min-height:100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.footer{
    height: 61px;
    margin-top: -61px;
    position: relative;
}
.empty{
    height: 61px;
}
 li{
    padding: 0;
    margin: 0;
    list-style: none;

}

p{
    padding: 0;
    margin: 0;
}
*{

    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}
.container{
    width: 100%;
    margin: 0 auto;
}

/*---------------heder------------*/
.header{
    background: #ffffff;

    height: 60px;
    padding: 9px 0 9px 0;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after{
    clear: both;
}

.menu li{
    padding:0 16px 0 31px;

}

.header_logo{
    float: left;
    padding-left: 25px;
}
.header_menu{
    float: right;
}

.header_logo{
    width: 50%;
}
.header_menu{
    width: 50%;
   padding-top: 9px;
}
.header_menu li:last-child{
    margin-right: 0;
}
.logo{
    display:inline-block;
}
.log_pic{
    display: block;
    max-width: 143px;
    max-height: 45px;
}
.menu_item{
    display: inline-block;


}
.menu{
    text-align: center;


}
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    font: 14px 'PTSans Regular', sans-serif;
    color: #7b8286;
    line-height:6px;
    vertical-align: middle;
}
.menu a:hover {
   color: #aac1d3
}
.menu::after{

    content: "";
    display: inline-block;
    width: 100%;
    height: 0;
}
/*----------bradcrumbs------------*/
#bradcrumbs{
    height: 583px;
   background: #222 url(image/headlogo/home.jpg) no-repeat  bottom;
    width: 100%;
    left: 0;
    right: 0;
    padding-top: 66px;
    text-align: left;
    color: #ffffff;

    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

}
.container .text{
    text-align: center;
    float: left;
    position: absolute;
    width: 50%;
}

.bradcrumbs_title_0ne{
    margin-bottom: 15px;
    text-transform: uppercase;
    font: 30px/30px TeX Gyre Adventor Bold, sans-serif;



}
.text .bradcrumbs_title_seco{
    margin-bottom: 5px;
    font: 19px/19px PTSans Regular, sans-serif;


}

.text .date{
    font: 19px/19px 'TeX Gyre Adventor', arial sans-serif;
    color: #ffdd95;
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 15px;
    padding-top: 15px;
}
/*.date:before{*/
    /*content: "";*/
    /*display: inline-block;*/
    /*background: url(image/headlogo/line.png) 0 0 no-repeat;*/
    /*width: 65px;*/
    /*height: 1px;*/
    /*margin-right: 22px;*/
    /*vertical-align: middle;*/
/*}*/
/*.date:after{*/
    /*content: "";*/
    /*display: inline-block;*/
    /*background: url(/image/headlogo/line.png) 0 0 no-repeat;*/
    /*width: 65px;*/
    /*height: 1px;*/
    /*margin-right: 22px;*/
    /*vertical-align: middle;*/
/*}*/
.text .btn{
   display: block;
    font: 15px/15px PTSansBold, bold sans-serif;
    background: #ff9321;
    padding: 10px 10px;
    align-content: center;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: 270px;
    margin: 0 auto;
    text-transform: uppercase;
 
}
.btn:hover{
    background: #b36614;
    color: #ffffff;
}

.text #bon{
    margin-bottom: 10px;
    margin-top: 50px;
    font: 15px/15px PTSans Regular, sans-serif;
    color: #d6d9dd;
}
.bradcrumbs_item {
    float: left;
    width: 30%;
    text-decoration: underline;
    vertical-align: middle;
    padding: 0 15px;

}
.bradcrumbs_item p {
    font: 15px/15px TeX Gyre Adventor Bold;
    color:white;
    line-height: 20px;
    vertical-align: middle;
}
.it_icoone{
    background: url(image/headlogo/icon-IT.png) no-repeat center top;
    margin-top: 22px;

}
.it_sec{
    background: url(image/headlogo/icon-LING.png) no-repeat center top;
    margin-top: 10px;

}


.it_three{
    background: url("image/headlogo/icon-ARCHI.png") no-repeat center top;
    margin-top: 20px;
}
.bradcrumbs_item_textone{
    padding-top: 80px;
    color: #4e525d;

}
.bradcrumbs_item_texttwo{

    margin-top: 95px;
    color: #4e525d;
}
.bradcrumbs_item_textthree{
    margin-top: 85px;
    color: #4e525d;
}
/*-----------------slider------------*/
#bradcrumbsslider{
    background: #222 url(image/slider/slider-one.jpg) no-repeat center top;
    height:583px;
    width: 100%;
    padding-top: 20px;
    text-align: left;


    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;

}
.university-wrap{
    width: 50%;
    position: relative;
    left: 60px;


}

.container #titile-uni{
    text-align: center;

}
#titile-uni h1{
    font: 30px/30px TeX Gyre Adventor Bold, sans-serif;
    color: #006698;
    padding: 0px 189px 25px 17px;
}

/*#titile-uni p{*/
    /*font: 15px/15px PTSans Regular, sans-serif;*/
    /*color: #4d4d4d;*/
    /*text-align: left;*/
    /*padding-right: 76px;*/
    /*padding-bottom: 25px;*/

/*}*/
#napr {
    font: 15px/15px PTSans Regular, sans-serif;
    color: #4d4d4d;
    text-align: left;
    padding-right: 160px;
    padding-bottom: 25px;
}
#min{
    font: 15px/15px PTSans Regular, sans-serif;
    color: #4d4d4d;
    text-align: left;
    padding-right: 76px;
    padding-bottom: 25px;
}
.sliderArrows{
    position: relative;
    float: left;
}
.prev{
    background: url("image/slider/arrowleft.png") no-repeat;
   position: absolute;
    width: 26px;
    height: 26px;
    outline: none;
    top:30px;
    z-index: 50;
}
.next{
    background: url("image/slider/arrowright.png") no-repeat;
    position: absolute;
    width: 26px;
    height: 26px;
    outline: none;
    top:30px;
     z-index: 50;
     float: right;
    text-align: left;
    left: 500px;
}
.uni{
    text-align: justify;
    padding-left: 0;
    padding-bottom: 30px;

}
.uni a {
    text-decoration: none;
    text-transform: uppercase;
    font: 14px 'PTSans Regular', sans-serif;
    color: #7b8286;
    line-height:6px;
    vertical-align: middle;
}
.uni_item{
    display: inline-block;
    padding: 43px 15px 0 15px;
}
.mgy{
    background: url(image/slider/uni/one.png) no-repeat center top;
}
.VSHE{
    background: url(image/slider/uni/VCHE.png) no-repeat center top;
}
.MFTI{
    background: url(image/slider/uni/thr.png) no-repeat center top;
}
.VYS{
    background: url(image/slider/uni/VYS.png) no-repeat center top;
}
.UMGY{
    background: url(image/slider/uni/UMGY.png) no-repeat center top;
}
.arrow_slider_prev{
    background: url(image/slider/uni/prev.png) no-repeat center top;
    cursor: pointer;
}
.arrow_slider_next{
    background: url(image/slider/uni/next.png) no-repeat center top;
    cursor: pointer;
}

.stat{
    text-align: left;
    color: #006698;

}
#mat{
    border: 2px solid #006698;
    border-left: none;
    width: 45%;
    font: 12px/12px PTSans Regular, sans-serif;
    padding: 5px 0 5px 0;
    margin-bottom: 11px;
}

#engl{
    border: 2px solid #006698;
    border-left: none;
    width: 40%;
    font: 12px/12px PTSans Regular, sans-serif;
    padding: 5px 0 5px 0;
    margin-bottom: 11px;
}
#publ{
    border: 2px solid #006698;
    border-left: none;
    width: 35%;
    font: 12px/12px PTSans Regular, sans-serif;
    padding: 5px 0 5px 0;
    margin-bottom: 25px;
}

/*#mat_reiting{*/
    /*position: relative;*/
    /*bottom: 362px;*/
    /*left: 270px;*/
    /*font: 26px/26 'TeX Gyre Adventor', arial sans-serif;*/
    /*float: left;*/
/*}*/

/*#titile-uni p{*/
/*font: 15px/15px PTSans Regular, sans-serif;*/
/*color: #4d4d4d;*/
/*text-align: left;*/
/*padding-right: 76px;*/
/*padding-bottom: 25px;*/

/*}*/
#titile-uni .btn{
    display: block;
    font: 14px/14px PTSansBold, bold sans-serif;
    background: #ff9321;
    padding: 10px 10px;
    align-content: center;
    color: #ffffff;
    cursor: pointer;
    border: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: 270px;
    margin-left: 138px;
    text-transform: uppercase;
    position: absolute;
}
#titile-uni .btn:hover{
    background: #b36614;
    color: #ffffff;
}
/*------------whoarewe---------*/
.whoarewe{
    height: 583px;
    background:  #5d7189 url(image/we/BGMain.jpg) no-repeat center top;
    width: 100%;

    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}


#whoarewe_title {
    font: 30px/30px TeX Gyre Adventor Bold, sans-serif;
    color: #006698;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
}
.whoarewe_blokone{
    height: 50%;
}

.whoarewe_item{
    float: left;
    width: 33.3%;
    padding: 83px 0px 49px 0;
}
.whoarewe_item h5{
    font: 15px 'TeX Gyre Adventor Bold', sans-serif;
    color: #4d4d4d;
    text-transform: uppercase;
    margin-bottom: 14px;
    text-align: center;
}

.whoarewe_item p{
    font:15px 'PTSans Regular', sans-serif;
    color: #4d4d4d;
    line-height: 14px;
    padding: 0px 32px 0 32px;
}
.photo_one{
    background: url("image/we/exsicon-1.png")no-repeat center top;
}
.photo_two{
    background: url("image/we/recicon-2.png")no-repeat center top;
}
.photo_three{
    background: url("image/we/inovicon-3.png")no-repeat center top;
}

.photo_four{
    background: url("image/we/complexicon-4.png")no-repeat center top;
}
.photo_six{
    background: url("image/we/teachersicon-5.png")no-repeat center top;
}

.whoarewe_bloktwo{
    height: 50%;
}

.whoarewe_item .btn{
    display: block;
    font: 15px PTSansBold, bold sans-serif;
    background: #ff9321;
    padding: 10px 10px;
    align-content: center;
    color: #ffffff;
    cursor: pointer;
    border: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: 270px;
    margin-left: 50px;
    text-transform: uppercase;
    position: absolute;
}
.whoarewe_item  .btn:hover{
    background: #b36614;
    color: #ffffff;
}
/*------------------footer-----------*/
.footer{
    width: 100%;
    padding: 15px 0 15px 0px;
}
.footer_copy{
    float: left;
    padding-left: 25px;
    width: 50%;
    padding-top: 5px;
    font:15px 'PTSans Regular', sans-serif;
    color: #4d4d4d;
}
.footer_orz{
    float: left;
    font:15px 'PTSans Regular', sans-serif;
    color: #4d4d4d;
}
.footer_orz a{
    color: #2278a2;
    vertical-align: middle;
}

.footer_contacts{
    float: right;
    padding-right: 100px;
    font:15px 'PTSans Regular', sans-serif;
    color: #4d4d4d;
}
.footer_contacts a{
    color: #2278a2;
    vertical-align: middle;

}